@font-face {
  font-family: "idroid";
  src: url("fontes/idroid.otf") format("opentype");
}

:root {
  --primary-color: #3ddc84;
  --lighter-primary-color: #c5ebd6;
  --darker-primary-color: #063d13;
  --light-primary-color: #83e1ad;
  --dark-primary-color: #2fa866;
  --font-title: "Bebas Neue", cursive;
  --font-special-title: "idroid";
  --font-text: Arial, Helvetica, sans-serif;
}

*,
html {
  margin: 0;
  padding: 0;
  line-height: 1;
}

body {
  font-size: 16px;
  font-family: var(--font-text);
  background-color: var(--lighter-primary-color);
}

.title {
  font-family: var(--font-title);
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5em;
}

.subtitle {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.466);
  line-height: 2;
  font-size: 1.2em;
}

.special-title {
  font-family: var(--font-special-title);
  color: var(--dark-primary-color);
  margin: 0.5em 0;
  font-size: 1.8em;
}

.text {
  font-family: var(--font-text);
  text-align: justify;
  text-indent: 1.2em;
  line-height: 1.4;
  font-size: 1.1em;
}

h3.special-title {
  background-image: linear-gradient(
    to right,
    var(--lighter-primary-color) 30%,
    transparent 70%
  );
  padding-left: 0.5em;
  font-size: 1.3em;
}
header {
  padding: 2em 0 0;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    var(--light-primary-color),
    var(--primary-color),
    var(--dark-primary-color),
    var(--darker-primary-color)
  );
}

nav {
  padding: 1em;
}

nav > a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin-left: 0.7em;
}
header > * {
  color: #fff;
}
header > p {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1em;
}

main {
  padding-bottom: 1em;
  min-width: 400px;
  max-width: 800px;
  margin: auto;
}

section {
  padding: 1em;
  margin: auto;
  background-color: #fff;
}

img {
  width: 100%;
}

picture {
  width: 100%;
  margin: 1em 0;
  display: block;
}

img.small-size {
  margin: auto;
  width: unset;
}

.text-center {
  text-align: center;
}

.video-container {
  position: relative;
  background-color: var(--dark-primary-color);
  height: 0;
  padding-bottom: 59%;
}

.video-container > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

a.link {
  color: var(--darker-primary-color);
  font-weight: bold;
}

.card {
  background-color: var(--lighter-primary-color);
  border-radius: 8px;
  margin: 1em 0;
  box-shadow: 2px 2px 4px #00000057;
}

.card-header {
  background-color: var(--dark-primary-color);
  border-radius: 8px 8px 0 0;
  color: #fff;
  padding: 0.4em;
}
.card-body {
  padding: 0.4em 0.4em 1.5em;
}

.version-list {
  list-style-type: "\2714\0020\0020";
  columns: 2;
  padding: 1em;
  list-style-position: inside;
}

footer {
  color: #fff;
  padding: 0.4em;
  text-align: center;
  background-color: var(--dark-primary-color);
}

section:last-child {
  border-radius: 0 0 8px 8px;
}
